# === NODE (backend) ===
bk-backend/node_modules/
bk-backend/dist/
bk-backend/.env
bk-backend/*.log

# === FLUTTER (frontend) ===
bk-frontend/.dart_tool/
bk-frontend/.idea/
bk-frontend/.flutter-plugins
bk-frontend/.flutter-plugins-dependencies
bk-frontend/.packages
bk-frontend/build/
bk-frontend/pubspec.lock
bk-frontend/.env

# === MAC / WINDOWS / SYSTEM ===
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
*.lnk
*.DS_Store

# === GIT ===
*.orig

# === VSCODE (om du använder det) ===
.vscode/
